:root{
    --primary-color: #FF385C;
    --hover-color: #F7F7F7;
    --secondary-color: #575757;
    --text-color: #222222;
    --box-shadow: 1px -3px 24px -15px rgba(0, 0, 0, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2rem;
}
.app{
    height: 100vh;
    width: 100vw;
    /* background-color: khaki; */
}