:root {
  --primary-color: #ff385c;
  --primary-color2: #E01759;
  --hover-color: #f7f7f7;
  --secondary-color: #575757;
  --text-color: #222222;
  --tertiary-color: #747474;
  --box-shadow: 1px -3px 24px -15px rgba(0, 0, 0, 0.75);
  --border-bottom:  1px solid rgb(190, 190, 190);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 2rem;
  /* padding-bottom: 150rem; */

}
.app {
  height: 100%;
  width: 100vw;
  /* background-color: khaki; */
}
