.btn {
  padding: 1rem 2rem;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;

}

.btn:hover{
    background-color: var(--hover-color);
}