.checkIn {
  height: auto;
  position: sticky;
  top: 3rem;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 0.7rem;
  border: var(--border-bottom);
  margin-bottom: 5rem;
  width: 100%;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.heading {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.heading h3 {
  margin: 0;
}
.heading h3 span:first-child {
  font-size: 2.2rem;
}

.heading h3 span:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 300;
}

.heading h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

.heading h4 i {
  transform: scale(0.8);
}

.inputs {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  border: var(--border-bottom);
  border-radius: 0.7rem;
}

.inputs span:nth-child(2) {
  color: #999;
  font-size: 1.4rem;
  font-weight: 400;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
}

.top.active,
.bottom.active {
  border: 2px solid #000;
  border-radius: 0.7rem;
}

.bottom {
  border-top: var(--border-bottom);
  display: flex;
  justify-content: space-between;
}

.top > * {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.leftTop {
  border-right: var(--border-bottom);
  width: 50%;
  display: flex;
  flex-direction: column;
}

.leftTop span {
  justify-self: flex-start;
  text-align: left;
  margin: 0;
}

.rightTop {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bottom > * {
  padding: 1rem;
}

.leftBottom span {
  font-size: 1.3rem;
  font-weight: 500;
}
.leftBottom ul {
  display: flex;
  font-size: 1.4rem;
}

.leftBottom ul > *:not(:last-child) {
  margin-right: 0.6rem;
}

.rightBottom > * {
  transform: scale(2);
}

.checkBtn {
  width: 100%;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color2)
  );
  padding: 1.5rem 2rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.checkBtn:hover {
  opacity: 0.95;
}

.issue span {
  margin-right: 1rem;
}

.issue span > * {
  transform: scale(1.2);
  color: #999;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .box {
    width: 100%;
  }
}


@media screen and (max-width: 800px) {
  .content {
    padding: 1.5rem;
  }
  .heading h3 span:first-child {
    font-size: 2rem;
  }

  .heading h3 span:nth-child(2) {
    font-size: 1.4rem;
  }

  .heading h4 {
    font-size: 1.2rem;
  }
  .heading h4 i {
    transform: scale(0.6);
  }
  
.heading h4 a{
  display: none;
}
}

@media screen and (max-width: 735px) {
  .content{
    flex-direction: row;
    padding: 1.8rem;
  }
  .issue,.inputs{
    display: none;
  }
  .heading{
    flex-direction: column;
  }
  .checkIn{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    top: 120rem;
  }

  .checkBtn{
    width: 40%;
    padding: 1.5rem 1.8rem;
  }
}


@media screen and (max-width: 600px) {
  .checkBtn{
    width: 65%;
  }
}