.navbar {
  height: 80px;
  width: 100%;
  padding: 10px 30px;
}


.navbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.left,.center,.right{
    flex: 1;
}

.left{
 height: 100%;
 /* width: 100%; */
 /* align-self: stretch;
 justify-self: stretch; */
}
.left img{
  /* width: 100px; */
  height: 35px;
  object-fit: cover;
}
.center{
  background-color: green;
}
.right{
  background-color: burlywood;
}