.textBtn {
  padding-bottom: 4rem;
}
.textBtn a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.textBtn a > *:nth-child(2) {
  transform: scale(1.4);
}
